<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100">
                <div class="mobileViewIncidents">
                    <div class="row ">
                        <div class="card">
                            <div class="card-body">
                                <h2>Probleem Kleuren en contrast</h2>
                                <% if(colorContrastArray.length > 0){ %>
                                    <span> De volgende drempels zijn gevonden binnen jouw website (termen zijn weergegeven in het
                                        Engels):
                                    </span>
                                    <% } %>
                                        <% if(colorContrastArray.length <= 0){ %>
                                            <b>Uw website heeft geen problemen op het gebied van kleuren en contrast.</b>
                                            <% } %>
                                                <div>
                                                    <% for(var i = 0; i < colorContrastArray.length; i++) { %>
                                                        <ul class="results-list">
                                                            <li>
                                                                <h3>
                                                                    <%= colorContrastArray[i].id %>
                                                                </h3>
                                                            </li>
                                                            <li>
                                                                Help:
                                                                <%= colorContrastArray[i].help %>
                                                            </li>
                                                            <li>
                                                                Impact:
                                                                <%= colorContrastArray[i].impact %>
                                                            </li>
                                                            <li>
                                                                explanation:
                                                                <%= colorContrastArray[i].description %>
                                                            </li>
                                                            <li>
                                                                Help url:
                                                                <a href="<%= colorContrastArray[i].helpUrl %>">
                                                                    <%= colorContrastArray[i].help %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <% } %>
                                                </div>
                                                <h2>Verklaring</h2>
                                                <div class="verklaring">
                                                    <p>Het kleurgebruik binnen de website is niet effectief genoeg voor slechtzienden.
                                                        Mensen met kleurenblindheid kunnen de website hierdoor niet goed
                                                        bekijken. 1 op de 200 vrouwen en zelfs 1 op de 12 mannen is kleurenblind.
                                                        Omdat er geen rekening is gehouden met het kleurcontrast kunnen elementen
                                                        terugvallen in de achtergrond.
                                                    </p>
                                                    <div class="verklaring-image">
                                                        <img id="kleurcontrastImage" src="img/Kleurcontrast.png" alt="Abel geeft verklaring over probleem Kleur en contrast">
                                                    </div>
                                                </div>
                                                <h2>Effect</h2>
                                                <p>Schakel tussen de buttons om te zien hoe kleur en contrast op jouw website
                                                    wordt waargenomen door kleurenblinde gebruikers.
                                                </p>

                                                <div id="color-deficiency-group" role="radiogroup" aria-label="Experience different color vision deficiencies">

                                                    <div class="radiowrapper">
                                                        <input class="choiceMobile" role="radio" type="radio" aria-label="greyscale view" value="1" name="choice">
                                                        <span>Grijsschaal zicht</span>
                                                    </div>

                                                    <div class="radiowrapper">
                                                        <input class="choiceMobile" role="radio" type="radio" aria-label="Blue/Yellow color vision deficiency " value="2" name="choice">
                                                        <span>Blauw/Geel kleurenblindheid</span>
                                                    </div>

                                                    <div class="radiowrapper">
                                                        <input class="choiceMobile" role="radio" type="radio" aria-label="Red/Green color vision deficiency" value="3" name="choice">
                                                        <span>Rood/Groen kleurenblindheid</span>
                                                    </div>
                                                    <div class="radiowrapper">
                                                        <input class="choiceMobile" role="radio" type="radio" aria-label="Turnoff color vision deficiency " value="4" name="choice"
                                                            checked="checked">
                                                        <span>Uit</span>
                                                    </div>
                                                </div>
                                                <div class="wrapper-contrast-effect">
                                                    <div class="screenshot-site">
                                                        <img class="screenshot-contrast" id="mobile-Contrast" src="img/out1.png" alt="A screenshot of website that is being tested">

                                                    </div>
                                                    <p>Kleuren en contrasten zijn erg belangrijk: wanneer er geen duidelijk
                                                        verschil zit tussen kleuren van elementen binnen de website, zullen
                                                        teksten, lijnen, hoeken en details niet effectief worden waargenomen.
                                                        Dit zorgt ervoor dat elementen terugvallen in de achtergrond, waardoor
                                                        de website lijkt op een geheel vlak.
                                                    </p>
                                                </div>
                                                <h2>Oplossing</h2>
                                                <div class="oplossing">

                                                    <div class="oplossing-wrapper">

                                                        <p>Je kunt het volgende doen om deze drempel weg te nemen: </p>
                                                        <ul>
                                                            <li>Zorg dat elementen genoeg kleurcontrast hebben, zodat ze kunnen
                                                                worden onderscheiden van elkaar. </li>
                                                            <li>Zorg dat links onderlijnd worden, zodat men weet dat dit een
                                                                link is.</li>
                                                        </ul>
                                                        <p> Je kunt op de volgende pagina gebruiken maken van de
                                                            <a href="http://contrast-ratio.com/#black-on-white">color-contrast helper</a> om kleuren te testen en correcte contrasten
                                                            te vinden.</p>
                                                    </div>

                                                    <div class="oplossing-image">
                                                        <img src="img/ABEL_Kleurcontrast.png" alt="Abel geeft en oplossing voor het probleem van Kleur en contrast">

                                                    </div>
                                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="d-block w-100">
                <div class="mobileViewIncidents">
                    <div class="row ">
                        <div class="card">
                            <div class="card-body">
                                <h2>Probleem HTML-structuur</h2>
                                <% if(HTMLstructureArray.length > 0){ %>
                                    <span> De volgende drempels zijn gevonden binnen jouw website (termen zijn weergegeven in het
                                        Engels):
                                    </span>
                                    <% } %>
                                        <div>
                                            <% if(HTMLstructureArray.length <= 0){ %>
                                                <b>Uw website heeft geen problemen op het gebied van HTML-structuur.</b>
                                                <% } %>
                                                    <% for(var i = 0; i < HTMLstructureArray.length; i++) { %>

                                                        <ul class="results-list">
                                                            <li>
                                                                <h3>
                                                                    <%= HTMLstructureArray[i].id %>
                                                                </h3>

                                                            </li>
                                                            <li>
                                                                Help:
                                                                <%= HTMLstructureArray[i].help %>
                                                            </li>
                                                            <li>
                                                                Impact:
                                                                <%= HTMLstructureArray[i].impact %>
                                                            </li>
                                                            <li>
                                                                explanation:
                                                                <%= HTMLstructureArray[i].description %>
                                                            </li>
                                                            <li>
                                                                Help url:
                                                                <a href="<%= HTMLstructureArray[i].helpUrl %>">
                                                                    <%= HTMLstructureArray[i].help %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <% } %>
                                        </div>

                                        <h2>Verklaring</h2>
                                        <div class="verklaring">
                                            <p>De website is niet goed genoeg gestructureerd voor visueel beperkten. Doordat
                                                de HTML-structuur niet compleet is, raken blinden en slechtzienden al snel
                                                verdwaald op uw website. Dit zorgt voor frustratie, waardoor zij de website
                                                sneller zullen verlaten.</p>
                                            <div class="verklaring-image">
                                                <img src="img/HTML Structuur.png" alt="Abel geeft verklaring over probleem Kleur en contrast">
                                            </div>
                                        </div>

                                        <h2>Effect</h2>
                                        <p>Als headings missen, moeten visueel beperkten elke link langs om de gewenste categorie
                                            te vinden. Met weinig items in het menu is dit geen probleem, maar het aanbod
                                            loopt al snel op tot honderden items. Dit geeft een enorme moeilijkheid voor
                                            deze gebruikersgroep, waardoor zij snel zullen afhaken.</p>

                                        <h2>Oplossing</h2>
                                        <div class="oplossing">


                                            <div class="oplossing-wrapper">

                                                <p>Je kunt het volgende doen om deze drempel weg te nemen: </p>
                                                <ul>
                                                    <li>Zorg dat elementen genoeg kleurcontrast hebben, zodat ze kunnen worden
                                                        onderscheiden van elkaar. </li>
                                                    <li>Zorg dat links onderlijnd worden, zodat men weet dat dit een link is.</li>
                                                </ul>
                                                <p> Je kunt op de volgende pagina gebruiken maken van de
                                                    <a href="http://contrast-ratio.com/#black-on-white">color-contrast helper</a> om kleuren te testen en correcte contrasten
                                                    te vinden.</p>
                                            </div>
                                            <div class="oplossing-image">
                                                <img src="img/ABEL_HTML.png" alt="Abel geeft en oplossing voor het probleem van Kleur en contrast">

                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="d-block w-100">
                <div class="mobileViewIncidents">
                    <div class="row ">
                        <div class="card">
                            <div class="card-body">
                                <h2>Probleem Schalen en inzoomen</h2>
                                <% if(scalingArray.length > 0){ %>
                                    <span> De volgende drempels zijn gevonden binnen jouw website (termen zijn weergegeven in het
                                        Engels):
                                    </span>
                                    <% } %>
                                        <div>
                                            <% if(scalingArray.length <= 0){ %>
                                                <b>Uw website heeft geen problemen op het gebied van Schalen en zoomen.</b>
                                                <% } %>
                                                    <% for(var i = 0; i < scalingArray.length; i++) { %>
                                                        <ul class="results-list">
                                                            <li>
                                                                <h3>
                                                                    <%= scalingArray[i].id %>
                                                                </h3>

                                                            </li>
                                                            <li>
                                                                Help:
                                                                <%= scalingArray[i].help %>
                                                            </li>
                                                            <li>
                                                                Impact:
                                                                <%= scalingArray[i].impact %>
                                                            </li>
                                                            <li>
                                                                explanation:
                                                                <%= scalingArray[i].description %>
                                                            </li>
                                                            <li>
                                                                Help url:
                                                                <a href="<%= scalingArray[i].helpUrl %>">
                                                                    <%= scalingArray[i].help %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <% } %>
                                        </div>
                                        <h2>Verklaring</h2>
                                        <div class="verklaring">
                                            <p>Veel mensen met een visuele beperking zijn gebaat bij de zoomfunctie op een website.
                                                Door in te zoomen, kunnen zij elementen op de website beter bekijken. Wanneer
                                                de zoomfunctie mist, kan deze gebruikersgroep teksten niet lezen of afbeeldingen
                                                niet bekijken. Hierdoor worden teksten en afbeeldingen heel wazig en moeilijk
                                                waar te nemen voor een gebruiker met een visuele beperking. </p>
                                            <div class="verklaring-image">
                                                <img src="img/Schalen.png" alt="Abel geeft verklaring over probleem Kleur en contrast">
                                            </div>
                                        </div>
                                        <h2>Effect</h2>
                                        <p>Middels deze aan/uit knop kunt u zien hoe uw website wordt weergegeven voor een visueel
                                            beperkte.
                                        </p>
                                        <div class="switch">
                                            <input type="checkbox" name="switch" class="switch-checkbox" role="checkbox" id="myswitch-scalingMobile" tabindex="0" checked>
                                            <label class="switch-labels" for="myswitch-scalingMobile">
                                                <span class="switch-text"></span>
                                                <span class="switch-dot"></span>
                                            </label>
                                        </div>
                                        <div class="wrapper-contrast-effect">
                                            <div class="screenshot-site">
                                                <img class="screenshot-Zoom" id="screenshot-ZoomMobile" src="img/out1.png" alt="A screenshot of website that is being tested">
                                            </div>
                                            <p>Het is belangrijk voor visueel beperkten om gebruik te kunnen maken van een zoom
                                                functionaliteit. Als deze functionaliteit mist, blijven afbeeldingen en teksten
                                                te klein. Hierdoor is groot deel van de website niet bruikbaar.
                                            </p>
                                        </div>
                                        <h2>Oplossing</h2>
                                        <div class="oplossing">
                                            <div class="oplossing-wrapper">
                                                <p>U kunt het volgende doen:</p>
                                                <ul>
                                                    <li>Met behulp van viewport maakt u de website schaalbaar voor verschillende
                                                        apparaten. Hierdoor is het mogelijk in te zoomen.</li>
                                                    <li>Verwijder user-scalable=no van uw viewport: dit zorgt er namelijk voor
                                                        dat de zoom functionaliteit uit staat</li>
                                                    <li>Bezoek de volgende pagina voor meer uitleg:
                                                        <a href="https://dequeuniversity.com/rules/axe/3.0/meta-viewport">dequeuniversity - meta-viewport</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="oplossing-image">
                                                <img src="img/ABEL_Schalen.png" alt="Abel geeft en oplossing voor het probleem van Kleur en contrast">

                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="d-block w-100">
                <div class="mobileViewIncidents">
                    <div class="row ">
                        <div class="card">
                            <div class="card-body">
                                <h2>Probleem Missende HTML elementen</h2>
                                <% if(missingHTMLArray.length > 0){ %>
                                    <span> De volgende drempels zijn gevonden binnen jouw website (termen zijn weergegeven in het
                                        Engels):
                                    </span>
                                    <% } %>
                                        <div>
                                            <% if(missingHTMLArray.length <= 0){ %>
                                                <b>Uw website heeft geen problemen op het gebied van Missende HTML-elementen.</b>
                                                <% } %>
                                                    <% for(var i = 0; i < missingHTMLArray.length; i++) { %>
                                                        <ul class="results-list">
                                                            <li>
                                                                <h3>
                                                                    <%= missingHTMLArray[i].id %>
                                                                </h3>

                                                            </li>
                                                            <li>
                                                                Help:
                                                                <%= missingHTMLArray[i].help %>
                                                            </li>
                                                            <li>
                                                                Impact:
                                                                <%= missingHTMLArray[i].impact %>
                                                            </li>
                                                            <li>
                                                                explanation:
                                                                <%= missingHTMLArray[i].description %>
                                                            </li>
                                                            <li>
                                                                Help url:
                                                                <a href="<%= missingHTMLArray[i].helpUrl %>">
                                                                    <%= missingHTMLArray[i].help %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <% } %>
                                        </div>
                                        <h2>Verklaring</h2>
                                        <div class="verklaring">
                                            <p>HTML-elementen zijn belangrijk om een website begrijpbaar te maken. Gebruikers
                                                met goed zicht kunnen dit niet waarnemen, maar visueel beperkten gebruiken
                                                vaak een screenreader die alles op de website voorleest. Wanneer een button
                                                geen duidelijke benaming heeft gekregen, wordt dit niet voorgelezen. Zo weet
                                                de gebruiker niet wat er staat en loopt hij/zij mogelijk vast.
                                            </p>
                                            <div class="verklaring-image">
                                                <img src="img/Missing-Elements.png" alt="Abel geeft verklaring over probleem Kleur en contrast">
                                            </div>
                                        </div>
                                        <h2>Effect</h2>
                                        <div class="switch">
                                            <input type="checkbox" name="switch" class="switch-checkbox" id="header-remover" role="checkbox" checked>
                                            <label class="switch-labels" for="header-remover">
                                                <span class="switch-text"></span>
                                                <span class="switch-dot"></span>
                                            </label>
                                        </div>
                                        <div class="wrapper-contrast-effect">
                                            <p>Visueel beperkten zien (vaak) niet waar ze op klikken, maar krijgen te horen
                                                wat er op de website staat. Als afbeeldingen of knoppen een betekenisloze
                                                beschrijvingen bevatten, zoals img1, link2, knop3, worden ze als zodanig
                                                voorgelezen. Hierdoor heeft de gebruiker geen idee waar hij zich binnen de
                                                website bevindt.
                                            </p>
                                        </div>
                                        <h2>Oplossing</h2>
                                        <div class="oplossing">
                                            <div class="oplossing-wrapper">
                                                <p>U kunt het volgende doen:</p>
                                                <ul>
                                                    <li>Voorzie afbeeldingen van een alt-tag. </li>
                                                    <li>Links moeten herkenbare teksten bevatten.</li>
                                                    <li>Probeer zoveel mogelijk HTML5 elementen te gebruiken zoals nav, header,
                                                        footer, article enzovoorts.</li>
                                                </ul>
                                            </div>
                                            <div class="oplossing-image">
                                                <img src="img/ABEL_Puzzelstuk.png" alt="Abel geeft en oplossing voor het probleem van Kleur en contrast">
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="d-block w-100">
                <div class="mobileViewIncidents">
                    <div class="row ">
                        <div class="card">
                            <div class="card-body">
                                <h2>Hulp nodig?</h2>
                                <div class="contact">
                                    <div class="text-contact">
                                        <p>
                                            Wij van ABEL zijn gepassioneerde specialisten en onderdeel van de Nederlandse accessibility community. Vanuit Full Service
                                            WordPress Agency Level Level helpen we je graag met het implementeren van webtoegankelijkheid.
                                            Heb je hulp nodig bij het toepassen van accessibility? Bel ons, stuur ons een
                                            mailtje of kom gerust langs!
                                        </p>
                                        <ul>
                                            <li>Telefoonnummer:
                                                <a href="010-8429259">010-8429259</a>
                                            </li>
                                            <li>E-mail adres:
                                                <a href="mailto:mail@abel.com">mail@abel.com</a>
                                            </li>
                                            <li>Level-Level.com</li>
                                            <li> Willem Buytewechstraat 42</li>
                                            <li> 3024 BN Rotterdam</li>
                                        </ul>
                                    </div>
                                    <div class="contact-image">
                                        <img src="img/ABEL_CONTACT.png" alt="Abel geeft verklaring over probleem Kleur en contrast">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" id="arrowLeft" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>